# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
abseil-cpp
altair
arrow-cpp
asttokens
attrs
aws-c-common
aws-c-event-stream
aws-checksums
aws-sdk-cpp
backcall
blas
blinker
blosc
boost-cpp
bottleneck
brotli
brotli-bin
brotlipy
bzip2
c-ares
c-blosc2
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cryptography
cycler
cyrus-sasl
cython
debugpy
decorator
exceptiongroup
executing
fonttools
freetype
gflags
giflib
gitdb
gitpython
glib
glog
grpc-cpp
gst-plugins-base
gstreamer
h5py
hdf5
icu
idna
importlib-metadata
importlib_metadata
ipykernel
ipython
ipywidgets
jedi
jinja2
joblib
jpeg
jsonschema
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
krb5
lcms2
lerc
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libclang
libclang13
libcurl
libdeflate
libevent
libffi
libiconv
libllvm14
libpng
libpq
libprotobuf
libsodium
libssh2
libthrift
libtiff
libwebp
libwebp-base
libxml2
libxslt
llvm-openmp
llvmlite
lz4-c
lzo
markdown-it-py
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mdurl
munkres
nest-asyncio
numba
numexpr
numpy
numpy-base
openssl
orc
packaging
pandas
parso
pcre
pexpect
pickleshare
pillow
pip
platformdirs
ply
prompt-toolkit
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pycparser
pydeck
pygments
pympler
pyopenssl
pyparsing
pyqt
pyqt5-sip
pyqtgraph
pyrsistent
pysocks
pytables
python
python-dateutil
python-tzdata
pytz
pyzmq
qt-main
qt-webengine
qtwebkit
re2
requests
rich
scikit-learn
scipy
setuptools
sip
six
smmap
snappy
sqlite
stack_data
streamlit
tenacity
threadpoolctl
tk
toml
tomli
toolz
tornado
traitlets
traits
typing-extensions
typing_extensions
tzdata
tzlocal
urllib3
utf8proc
validators
wcwidth
wheel
widgetsnbextension
xz
zeromq
zipp
zlib
zlib-ng
zstd
